

<!DOCTYPE html>
<html lang="en">
<head>      
    <meta charset="UTF-8">
    <title>login</title>     
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet"></link>
    {% block head_css %}
     <link href="/static/css/login.css" rel="stylesheet"></link>
    {% end %}
    {% block extends_css %}
    {% end %}
</head>     
<body>      
        <p>login</p> 
        <script src="/static/jquery/dist/jquery.min.js"></script>
        <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
        {% block body_js %}
        <script src="/static/js/login.js"></script>
        {% end %}
        {% block extends_js %}
        {% end %}
</body>     
</html>
	
